@page
@model EP.Pages.Info_panelModel
@{
    ViewData["Title"] = "Info-panel page";
}

@{
    Layout = "_Layout";
}

<div>
    <table class="table table-striped table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>CATEGORY</th>
                <th>Fields</th>
                <th>How to fill</th>
                <th>Example / Sample</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle" rowspan="5">Basics</td>
                <td>
                    "PV need Date
                    (Auto)"
                </td>
                <td>Automatic field</td>
                <td</td>
            </tr>
            <tr>
                <td>
                    "IF Date
                    (Auto)"
                </td>
                <td>Automatic field</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    "RTS
                    (Auto)"
                </td>
                <td>Automatic field</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    "GCE
                    (Auto)"
                </td>
                <td>Automatic field</td>
                <td></td>
            </tr>
            <tr>
                <td>SKU</td>
                <td>PTL 12Xe or PTL 484 or PTL 404</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>