@page
@model EP.Pages.Info_dropdownModel
@{
    ViewData["Title"] = "Info-dropdown page";
}

@{
    Layout = "_Layout";
}
<table class="table table-striped table-bordered mt-4">
    <thead class="table-dark">
        <tr>
            <th>Seg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cons</td>
            <td>Corp</td>
            <td>SMB</td>
        </tr>
    </tbody>
</table>