@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<h4 class="text-danger">An error occurred while processing your request.</h4>
<br />
<h1>Invalid User</h1>

