@page
@model EP.Pages.Register_ProcessingModel
@{
    ViewData["Title"] = "Processing";
    Layout = "_Layout";
}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-5 text-center">
        <h2>Application in processing</h2>
        <p>Please wait while we process your registration.</p>
        <a href="/">Go to Login.</a>
    </div>
</div>
